<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarkSouls3SaveFileBackUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DarkSouls3SaveFileBackUp.Properties.Settings>
            <setting name="UserDataFolder" serializeAs="String">
                <value>C:\Users\roman\AppData\Roaming\DarkSoulsIII</value>
            </setting>
            <setting name="BackUpFolder" serializeAs="String">
                <value>C:\Users\roman\Google Drive\Games\Backup\Dark Souls III\AutoBackUp</value>
            </setting>
            <setting name="BackUpIntervall" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="RunOnStartUp" serializeAs="String">
                <value>False</value>
            </setting>
        </DarkSouls3SaveFileBackUp.Properties.Settings>
    </userSettings>
</configuration>